	<!DOCTYPE html>
	<html>
		<head>
		<title>Boericke's Materia Medica Search</title>
		<link rel="stylesheet" href="src/foundation.min.css">
	</head>
	<body>
		<h1 style="text-align:center;font-weight:100;">Boericke's Materia Medica Search</h1>
		<div ng-app="boerickeSearch">
			<div ng-controller="MedicineSymptomController">
				<input type="text" ng-model="findLinkMedicineSympton" placeholder="Enter medicine or symptom" style="text-align:center;">
				<ul class="breadcrumbs">
				  <li><input type="checkbox" data-ng-model="search.type6" data-ng-true-value="back" id="back" class="inline"><label for="back">Back</label></li>
				  <li><input type="checkbox" data-ng-model="search.type4" data-ng-true-value="chest" id="chest" class="inline"><label for="chest">Chest</label></li>
				  <li><input type="checkbox" data-ng-model="search.type8" data-ng-true-value="eyes" id="eyes" class="inline"><label for="eyes">Eyes</label></li>
				  <li><input type="checkbox" data-ng-model="search.type10" data-ng-true-value="face" id="face" class="inline"><label for="face">Face</label></li>
					<li><input type="checkbox" data-ng-model="search.type1" data-ng-true-value="female" id="female" class="inline"><label for="female">Female</label></li>
					<li><input type="checkbox" data-ng-model="search.type5" data-ng-true-value="fever" id="fever" class="inline"><label for="fever">Fever</label></li>
					<li><input type="checkbox" data-ng-model="search.type2" data-ng-true-value="head" id="head" class="inline"><label for="head">Head</label></li>
					<li><input type="checkbox" data-ng-model="search.type9" data-ng-true-value="mind" id="mind" class="inline"><label for="mind">Mind</label></li>
					<li><input type="checkbox" data-ng-model="search.type12" data-ng-true-value="sexual" id="sexual" class="inline"><label for="female">Sexual</label></li>
					<li><input type="checkbox" data-ng-model="search.type7" data-ng-true-value="sleep" id="sleep" class="inline"><label for="sleep">Sleep</label></li>
					<li><input type="checkbox" data-ng-model="search.type3" data-ng-true-value="stomach" id="stomach" class="inline"><label for="stomach">Stomach</label></li>
					<li><input type="checkbox" data-ng-model="search.type11" data-ng-true-value="urine" id="urine" class="inline"><label for="urine">Urine</label></li>
				</ul>
		
				<table align="center">
					<tr ng-repeat="data in LinkMedicineSympton | filter:findLinkMedicineSympton | filter:search.type1| filter:search.type2| filter:search.type3| filter:search.type4| filter:search.type5| filter:search.type6| filter:search.type7| filter:search.type8| filter:search.type9| filter:search.type10| filter:search.type11| filter:search.type12">
						<td>
							<a href="{{ data.link }}" target="_blank">{{ data.name }}</a>
						</td>
						<td ng-repeat="(key, val) in data.symptom">
						  <span ng-repeat="(id,name) in val"> {{ name }} </span>
					  </td>
					</tr>
				</table>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script type="text/javascript" src="src/data.js"></script>
	</body>
	</html>
